.todo-categories {
  display: flex;
  flex-flow: row wrap;
  margin-top: 10px;
}

.todo-categories li {
  list-style-type: none;
  background: #fff;
  border-radius: 20px;
  border: 1px solid #ddd;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 5px 15px;
  margin-right: 15px;
}

.todo-categories li:hover {
  background: var(--main-bg-color);
  color: #fff;
}
